<ul>
    <li *ngFor="let recipe of recipesList">
        <div class="recipe-name" [routerLink]="['/details', recipe._id]" routerLinkActive="router-link-active">
            {{ recipe.name }}
        </div>
        <div class="edit-delete-buttons">
            <button class="edit-button button" [routerLink]="['/edit', recipe._id]"
                routerLinkActive="router-link-active"><i class="material-icons">create</i></button>
            <button class="delete-button button" (click)="deleteOneRecipe(recipe._id)"><i
                    class="material-icons">delete</i></button>
        </div>

    </li>
</ul>