<div class="container">
    <h2 class="recipe-title">Tytul</h2>
    <form [formGroup]="recipeForm">
        <div class="row">

            <label>
                Recipe name:
                <input type="text">
            </label>
            <label>
                preparation time in minutes:
                <input type="number">
            </label>
            <label>
                description:
                <input type="text">
            </label>
            <label>
                ingredients:
                <ng-container formArrayName="ingredients">
                    <div *ngFor="let ingredient of ingredients.controls; index as i">
                    </div>
                </ng-container>
            </label>
        </div>
    </form>
</div>