<div class="container">
    <div class="headline">
        <div class="headline-title">
            <h2 class="recipe-title">{{title}}</h2>
        </div>
        <div class="headline-buttons" *ngIf="viewType == 0">
            <button class="button-edit button" (click)="goToEdit()">Edit</button>
            <button class="button-delete button" (click)="removeRecipeFromList()">Delete</button>
        </div>
        <div class="headline-buttons" *ngIf="viewType == 1">
            <button class="button-save button" (click)="saveChangedRecipe()">Save</button>
            <button class="button-cancel button" (click)="cancelEditRecipe()">Cancel</button>
        </div>
        <div class="headline-buttons" *ngIf="viewType == 2">
            <button class="button-cancel button">Cancel</button>
            <button class="button-add button" (click)="addRecipe()">Add</button>
        </div>
    </div>

    <form [formGroup]="recipeForm">
        <div class="row">
            <div class="recipe-content">
                <label>
                    Recipe name:
                    <input type="text" formControlName="name">
                </label>
                <label>
                    preparation time in minutes:
                    <input *ngIf="viewType == 0" formControlName="preparationTimeInMinutes"
                        [value]="recipeForm.get('preparationTimeInMinutes').value | MinutesToHoursPipe">
                    <input *ngIf="viewType != 0" formControlName="preparationTimeInMinutes" type="number">
                </label>
                <label>
                    description:
                    <input type="text" formControlName="description">
                </label>
            </div>
            <div *ngFor="let ingredient of getIngredientsFormArray()?.controls; index as i"
                class="ingredients-list-group">
                <div class="ingredients-content" [formGroup]="ingredient">
                    <div class="ingredient-content">
                        <label>
                            ingredient name:
                            <input type="text" formControlName="name">
                        </label>
                        <label>
                            quantity of ingredient:
                            <input type="number" formControlName="quantity">
                        </label>
                        <div *ngIf="!isLastIngredientIndex(i) && (viewType == 1 || viewType == 2)"
                            class="quantity-buttons">
                            <button class="quantity-button-delete button"
                                (click)="removeIngredientFromRecipe(i)">Delete</button>
                        </div>
                        <div *ngIf="isLastIngredientIndex(i) && (viewType == 1 || viewType == 2)"
                            class="quantity-buttons">
                            <button class="quantity-button-edit button" (click)="addIngredientToRecipe()">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>