mat-dialog-container{
  padding: 0px !important
}

.button-yes{
  background-color: seagreen;
  margin-right: .5rem;
}

.button-no{
  background-color: rgb(201, 72, 72);
}

.button-ok{
  background-color: royalblue;
}
